  <div class="form-group">
    <label for="{{title}}" class="col-sm-2 control-label">{{title | localize}}</label>
    <div class="col-sm-6">
		<input type="{{type}}" class="form-control" id="{{title}}" placeholder="{{placeholder | localize}}" ng-model="binding" ng-keydown="keydown($event)" ng-focus="showOptions()" ng-blur="hideOptions()">
			<div style="display: none; position: absolute; z-index: 100; background-color: white;" class="list-group">
				<a ng-repeat="item in items" ng-click="enterSelected()" ng-mouseover="updateSelected($index)" class="list-group-item acOption{{$index}} acOptions">{{item.value}}</a>
			</div>
      <p ng-show="help" class="help-block">{{help | localize}}</p>
    </div>
	 <div class="col-sm-4" compile="preview"></div>
  </div>
