<html ng-app="AngularFormControls">
	<head>
		<title>A demo of the angular form controls</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
		<script src="../form-controls.js"></script>
		<script src="demo.js"></script>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	</head>
	<body ng-controller="DemoController">
		<div id="notFooter" style="margin-bottom: 250px;">
			<form>
				<h1>{{demoTitle}}</h1>
				<h3>Requirements: Angular, underscore</h3>

				<!-- can't demo, because a user is required
				<h4>kmNotes</h4>
				<km-notes placeholder="a placeholder" ng-model="demoObject.open1" rows="4"></km-notes>
				-->

				<h4>kmTextboxMl</h4>
				<h5>For Multiple language textboxs</h5>
				<km-textbox-ml placeholder="a placeholder" ng-model="demoObject.open2" locales="demoObject.objectOptions" rows="3"></km-textbox-ml>

				<h4>kmInputtextList</h4>
				<h5>Creates a new input box as soon as there is content in the last input (BEWARE: it currently needs to be enclosed in a div or it will gobble all following html)</h5>
				<div><km-inputtext-list placeholder="a placeholder" ng-model="demoObject.open3"><km-inputtext-list></div>

				<!-- I have no idea how to use this, it isn't a replace directive
				<h4>kmTerms</h4>
				<km-terms ng-model="demoObject.open1"></km-terms>
				-->

				<!-- No idea. Has something to do with terms?
				<h4>kmTermCheck</h4>
				<km-term-check ng-model="demoObject.open2"></km-term-check>
				-->

				<!-- again with the terms
				<h4>kmTermRadio</h4>
				<km-term-radio ng-model="demoObject.open3"></km-term-radio>
				-->

				<!-- requires km-storage.js and IStorage. TODO: decouple
				<h4>kmLink</h4>
				<km-link ng-model="demoObject.open1"></km-link>
				-->

				<!--TODO: add loader function-->
				<h4>kmReference</h4>
				<h5>Requires a loader function to operate</h5>
				<km-reference ng-model="demoObject.open2"></km-reference>

				<!--TODO: allow taking an object or array of object -->
				<h4>kmSelect</h4>
				<km-select ng-model="demoObject.open3"></km-select>

				<h4>kmYesNo</h4>
				<km-yes-no ng-model="demoObject.open2"></km-yes-no>

				<!-- TODO: the default shouldn't say "Invalid Date" >.>;; --> 
				<h4>kmDate</h4>
				<km-date ng-model="demoObject.open1"></km-select>

				<!-- not sure how this one is used -->
				<!--
				<h4>kmFormStdButtons</h4>
				<km-form-std-buttons></km-form-std-buttons>
				-->

				<!-- km-select needs to be updated to be able to take a normal list before this can be reenabled
				<h4>kmFormLanguages</h4>
				<km-form-languages ng-model="demoObject.open2"></km-form-languages>
				-->

				<!-- no idea
				<h4>kmDocumentValidation</h4>
				<km-document-validation ng-model="demoObject.open3"></km-document-validation>
				-->

				<!-- it's used as an attribute, not sure what it's purpose is.
				<h4>kmTab</h4>
				-->
			</form>
		</div>

		<!-- -->

		<div style="position: fixed; bottom: 0px; border: 2px solid black; height: 200px; background-color: rgba(255,255,255,0.5); width: 100%;">
			<h6>Test Object:</h6>
			<ul>
				<li ng-repeat="(key, val) in demoObject">{{key}}: {{val}}</li>
			</ul>
		</div>
	</body>
</html>
