<html ng-app="AngularFormControls">
	<head>
		<title>A demo of the angular form controls</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore.js"></script>
		<script src="../form-controls.js"></script>
		<script src="../bower_components/ng-tags-input/ng-tags-input.js"></script>
		<script src="../bower_components/leaflet-0.7.2/leaflet.js"></script>
		<script src="demo.js"></script>
		<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.css" rel="stylesheet">
		<link href="../bower_components/leaflet-0.7.2/leaflet.css" rel="stylesheet">
	</head>
	<body ng-controller="DemoController">
		<div id="notFooter" style="margin-bottom: 250px;">
			<form novalidate>
				<h1>{{demoTitle}}</h1>
				<h3>Requirements: Angular, underscore</h3>

				<h4>lonlat-input</h4>
				<lonlat-input ng-model="demoObject.openArray[7]" help="what are these lon lats even for? Help text."></lonlat-input>

				<h4>ng-tags-input</h4>
				<tags-input ng-model="demoObject.openArray[2]">
					<auto-complete source="tagOptions($query)" min-length="1" debounce-delay="0" hide-unmatched="true" auto-highlight-single="true"></auto-complete>
				</tags-input>

				<h4>Time Input</h4>
				<input type="time" ng-model="demoObject.openArray[1]" /><br />

				<h4>Date Input</h4>
				<input type="date" ng-model="demoObject.openArray[0]" /><br />

				<h4>afc-input</h4>
				<h5>Very basic input</h5>
				<afc-input type="number" ng-model="demoObject.openArray[4]" title="the title" placeholder="placeholder" help="some help text"></afc-input> 

				<h4>afc-text</h4>
				<h5>Text area input</h5>
				<afc-text ng-model="demoObject.openArray[5]" title="the label"></afc-text>

				<h4>tabbed-textareas</h4>
				<tabbed-textareas hide-unfocused="true" rows="2" ng-model="demoObject.openArray[3]" tabs="inputs.tabs" key-key="key" title-key="title" help-key="help"></tabbed-textareas>


				<h4>afc-options</h4>
				<h5>select input</h5>
				<afc-options ng-model="demoObject.openArray[6]" title="select an option" options="demoObject.objectOptions"></afc-options>
				<br />
				<br />

				<!-- can't demo, because a user is required
				<h4>kmNotes</h4>
				<km-notes placeholder="a placeholder" ng-model="demoObject.open1" rows="4"></km-notes>
				-->

				<h4>kmTextboxMl</h4>
				<h5>For Multiple language textboxs</h5>
				<km-textbox-ml placeholder="a placeholder" ng-model="demoObject.open2" locales="demoObject.objectOptions" rows="3"></km-textbox-ml>

				<h4>kmInputtextList</h4>
				<h5>Creates a new input box as soon as there is content in the last input (BEWARE: it currently needs to be enclosed in a div or it will gobble all following html)</h5>
				<div><km-inputtext-list placeholder="a placeholder" ng-model="demoObject.open3"><km-inputtext-list></div>

				<h4>kmYesNo</h4>
				<km-yes-no ng-model="demoObject.open2"></km-yes-no>

				<!-- TODO: the default shouldn't say "Invalid Date" >.>;; --> 
				<h4>kmDate</h4>
				<km-date ng-model="demoObject.open1"></km-select>

				<!-- These all are based on ng-model set to some object of thesaurus items that i have no idea would qualify as correct. Need tog et list from Stephane.
				<h4>kmTerms</h4>
				<km-terms ng-model="demoObject.terms"></km-terms>

				<h4>kmTermCheck</h4>
				<km-term-check ng-model="demoObject.open2"></km-term-check>

				<h4>kmTermRadio</h4>
				<km-term-radio ng-model="demoObject.open3"></km-term-radio>


				<h4>kmSelect</h4>
				<km-select ng-model="demoObject.open3"></km-select>
				-->

				<!-- requires km-storage.js and IStorage. TODO: decouple
				<h4>kmLink</h4>
				<km-link ng-model="demoObject.open1"></km-link>
				-->

				<!-- Tied into records.
				<h4>kmReference</h4>
				<h5>Requires a loader function to operate</h5>
				<km-reference ng-model="demoObject.open2"></km-reference>
				-->


				<!-- Specific to clearing house
				<h4>kmFormStdButtons</h4>
				<km-form-std-buttons></km-form-std-buttons>
				-->

				<!-- km-select needs to be updated to be able to take a normal list before this can be reenabled
				<h4>kmFormLanguages</h4>
				<km-form-languages ng-model="demoObject.open2"></km-form-languages>
				-->

				<!-- specific to clearing house
				<h4>kmDocumentValidation</h4>
				<km-document-validation ng-model="demoObject.open3"></km-document-validation>
				-->
			</form>
		</div>

		<!-- -->

		<div style="position: fixed; bottom: 0px; border: 2px solid black; height: 200px; background-color: rgba(255,255,255,0.5); width: 100%; z-index: 3;">
			<h6>Test Object:</h6>
			<ul>
				<li ng-repeat="(key, val) in demoObject">{{key}}: {{val}}</li>
			</ul>
		</div>
	</body>
</html>
